

.menu ul {
  background-color: black;
  margin: 0;
}
.menu li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1em;
}

.menu li  {
  display: inline-block;
  padding: 0 .1em 0 .1em;

}

.menu li a:hover {
  background-color: blue;
  -webkit-transition-duration: .8s; /* Safari */
  transition-duration: .8s;
}

.body {
  background-color: black;
  color: white;
  width: auto;
}

.bg-1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bg-1 h2 {
  text-align: center;
  font-size: 2em;
}
.bg-1 p {
  margin: 0 2em 0 2em;
  font-size: 2em;
  text-indent: 1em;
  /*font-style: italic;*/
}

.bg-1 {
  background-color: black;
  color: white;
}
.bg-2 {
  margin: 1em 0 0 0;
  margin: 3em;
}
.bg-2 img {
  float: left;
}
.bg-2 table {
  /*left: 300px;*/
  float: left;
}

.bg-2 table {
  /*border: 1px solid white;*/
  margin: 0 .5em 0 .5em;
  padding: 1em;
  background-color: black;
  color: white;
  font-size: 1.5em;
}

.bg-3 {
  margin: 4em;
  display: inline-block;
  position: relative;
}

.bg-3 table {
  padding: 1em;
  font-size: 1.5em;
  word-spacing: .1em;
  border-collapse: collapse;
  text-align: left;
}

.bg-4 {
  width: 700px;
  display: inline-block;
  margin-left: 8em;
}

.bg-4 form {
  width: 400px;
  padding: 1em;
  display: block;
}

.bg-4 label {
  display: block;
  margin: 5px 0 5px 20px;
  font: 10px;
  font-style: normal;
  color: black;
  float: left;
}

.bg-4 input {
  width: 300px;
  margin: 0 0 0 20px;
  font-size: 15px;
}

.bg-4 textarea {
  width: 300px;
  height: 100px;
  margin: 0 0 0 20px;
}

.bg-4 fieldset {
  border: none;
  background-color: white;
  padding: 0 0 20px 0;
}

/*.bg-4 label {
  margin-top: 10px;
}*/

.bg-5 {
  float: left;
  margin: 5em 0 0 5em;
}

.bg-5 table {
  padding: 1em;
  margin-left: 5px;
  float: right;
  color: white;

}
